.textarea {
    
    &.error {
        .textarea__value {
            border-color: $red;
        }
    }
    
    position: relative;
    &__value{
        transition: .3s ease;
        transition-property: border;
        height: toRemM(80);
        border: 1px solid $gray;
        border-radius: toRemM(8);
        padding: toRemM(12) toRemM(16) 0;
        color: $blackLight;
        font-size: toRemM(18);
        line-height: toRemM(24);
    }
    @media (min-width: $desktop) {
        &__value{
            height: toRem(80);
            border-radius: toRem(8);
            padding: toRem(12) toRem(16) 0;
            font-size: toRem(18);
            line-height: toRem(24);
        }
    }
    
}

textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: reg;
    display: block;
    background-color: transparent;
    box-sizing: border-box;
    resize: none;
    border: none;
    padding: 0;
    width: 100%;
    &::-webkit-input-placeholder {
        font-size: inherit;
        font-family: inherit;
    }
    
    &::-moz-placeholder {
        font-size: inherit;
        font-family: inherit;
    }
    
    &:-moz-placeholder {
        font-size: inherit;
        font-family: inherit;
    }
    
    &:-ms-input-placeholder {
        font-size: inherit;
        font-family: inherit;
    }
    
}